.nav-link{
    color: whitesmoke;
}

.nav-item1 {
    font-weight: bold;
}

*{
    font-family: Montserrat;
}

body {
    background-color: indianred;
}
.display-1 {
    background-color: indianred;
    padding-left: 30px;
    padding-bottom: 10px;
    font-family: "Verdana";
}


#navigationsleiste {
    background-color: burlywood;
    font-family: "Jumble";
    font-size: 20px;
    font-weight: bold;
    border: solid 5px;
    border-color: darkslategray;
    border-radius: 20px;
    }

.flex-sm-fill text-sm-center nav-link link-dark {
    font-family: Ebrima;
    font-size: 20px;
    color: darkslategray;

}
a:hover {
    background-color: aliceblue;
}

.backgroundM {
    object-position: center;
    background-color: aliceblue;}
.overlay {
    position: absolute;
    top: 0;
    color: #f1f1f1;
    width: 20%;
    height: 20%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
li:hover .overlay {
    opacity: 1;
}